build/
cmake-build-*/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake

*.exe
*.out
*.app

.vscode/
.idea/
*.vcxproj*
*.sln

out/
data/2/
data/3/
data/4/
*.csv
*.sh
*.xlsx

**/.DS_Store